{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <a class="btn btn-primary mt-2" href="{{ path('ingrediant') }}">Revenir vers la lise</a>
        <h1>Ajouter des ingredients</h1>
        {{ form(form) }}
        </div>
{% endblock %}